<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <style type="text/css">
	p{
		margin:0;
		font-size: 1rem;
		color:#fff; 
		line-height: 2rem;
	}
/*	section{
		display:flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}*/
	.container{
		width: 50vw;
		height: 50vh;
	}
	h1{
		color: #fff; 
		margin-top:5rem;
	}
</style>
  
 <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  

<div class="container-fluid mx-0 p-0" style="height: 9rem;background-color: #8caccc;position: fixed;top: 0;z-index: 99;">
	<div class="row">
		<div class="col justify-content-center text-center">
			<img src="../touxiang.png" style="width: 80px;border-radius: 30px;border:20px;margin-top: 1rem;">
		</div>
	</div>
	<div class="row">
		<div class="col justify-content-center text-center">
			<p style="color: #fff;font-size: 1.4rem;">Nero self introduction</p>
		</div>
	</div>
</div>


<div class="container-fluid p-0 mx-0" style="margin-top: 9rem;height: 80vh;position: relative;">
	<div class="row p-0 mx-0">
		<div class="col-8 p-0">
				<div style="width: 75vw;height: 80vh;background-image: url('../1.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;background-attachment: fixed;text-align: center;justify-content: center;min-height: 30rem;">
					<div class="container">
						<div class="row">
							<div class="col">
								<h1 style="color: #fff; margin-top:5rem;">About me</h1>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>As a new comer in Canada, I always force myself to learn stuff, which including not only work skills but also culture in Canada. I am a MBA graduate from Carleton university. To better fit the labor market and the digital trend, I start to learn web developing.From studying business to computer science, I know it is pretty hard but I am going to do it. To be honest, it is hard to move to another country and start life there. I have tried many jobs, like chief in the restaurant or sales for Freedom mobile. These jobs are tough and not well-paid so I hope web developing can change my current situation. </p>
							</div>
						</div>
					</div>
				</div>
				<div style="width: 70vw;height: 80vh;background-image: url('../2.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;background-attachment: fixed;min-height: 30rem;">
					<div class="container">
						<div class="row">
							<div class="col">
								<h1>
									Hobby
								</h1>
								<ul class="list-group">
									{% for hobbys in hobbys %}
								  <li class="list-group-item">
								  	{{hobbys}}
								  </li>
								  	{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4 p-0" style="height: 80vh;background-image: url('../backgroundleft.jpg');position:fixed;left: 70vw;">
				<div class="container">
					<div class="row">
						<div class="col">
							<h1>Basic information</h1>
							<ul class="list-grpup" style="width: 300px">
								{%for key, value in basicinformation%}
								<li class="list-group-item">
									{{key}}:{{value}}
								</li>
								{%endfor%}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





  </body>
</html>









